ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 25px;
}

a:hover {
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    line-height: 1.25;
    font-weight: 700
}

h2, .h2 {
    font-size: 26px
}

@media (min-width: 992px) {
    h2, .h2 {
        font-size: 36px
    }
}

.button {
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
    border: 0;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    padding: 9px 30px;
}

.button-shadow {
    box-shadow: 0px 10px 20px 0px rgba(42, 38, 172, 0.2)
}

.section-padding {
    padding: 50px 0
}

@media (min-width: 992px) {
    .section-padding {
        padding: 50px 0
    }
}

@media (min-width: 1200px) {
    .section-padding {
        padding: 50px 0
    }
}

.pb-50px {
    padding-bottom: 50px
}

@media (min-width: 992px) {
    .pb-50px {
        padding-bottom: 50px
    }
}

@media (min-width: 1200px) {
    .pt-xl-100 {
        padding-top: 100px
    }
}

.section-style {
    width: 130px;
    height: 11px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 15px
}

.section-style::before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1e1859
}

.section-style::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #1e1859
}

.section-intro h1, .section-intro h2, .section-intro h3, .section-intro h4, .section-intro h5, .section-intro h6 {
    color: #454545
}

.section-intro .section-style::before {
    background-color: #222
}

.section-intro .section-style::after {
    background-color: #222
}

.section-intro {
    max-width: 570px;
    margin-right: auto;
    margin-left: auto
}

/* Banner */

.hero-area {
    background-color: #f8f9fa;
}

.hero-area .hero-img img {
    position: relative;
}

/* Features */

.card-service {
    padding: 30px 18px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media (min-width: 992px) {
    .card-service {
        padding: 45px 30px
    }
}

.card-service .service-icon {
    margin-bottom: 30px
}

.card-service h3 {
    margin-bottom: 12px
}

.card-service p {
    margin-bottom: 0
}

.card-service:hover {
    background: #fff;
    box-shadow: 0px 20px 20px 0px rgba(40, 25, 114, 0.1)
}

/* Pricetable */

.priceTable-wrapper {
    padding-bottom: 30px;
}

.card-pricing {
    background: #f8f9fa;
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 2px 0px rgba(40, 25, 114, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-pricing__header {
    border-bottom: 1px solid #ebebeb;
    padding: 40px 7px
}

.card-pricing__header h4 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #454545
}

.card-pricing__header p {
    font-weight: 400;
    margin-bottom: 27px
}

.card-pricing__price {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
    color: #454545
}

@media (min-width: 991px) {
    .card-pricing__price {
        font-size: 60px
    }
}

.card-pricing__price span {
    font-size: 40px;
    vertical-align: middle;
    position: relative;
    bottom: 5px;
    margin-right: 3px
}

.card-pricing__list {
    padding: 30px 8px 25px 8px;
    border-bottom: 1px solid #ebebeb
}

.card-pricing__list li {
    margin-bottom: 12px
}

.card-pricing__list li:last-child {
    margin-bottom: 0
}

.card-pricing__list li i, .card-pricing__list li span {
    font-size: 13px;
    margin-right: 10px
}

.card-pricing .button {
    background: transparent;
    border: 1px solid #dbd9e6;
    color: #454545
}

.card-pricing__footer {
    padding: 45px 0
}

.card-pricing:hover {
    background: #fff;
    box-shadow: 0px 20px 25.5px 4.5px rgba(33, 20, 106, 0.1)
}

.card-pricing:hover .card-pricing__price {
    color: #222222
}

.card-pricing:hover .card-pricing__header h4, .card-pricing:hover p {
    color: #222222
}

.card-pricing:hover .button {
    color: #454545;
    box-shadow: 0px 10px 20px 0px rgba(42, 38, 172, 0.1)
}

.card-pricing-featured {
    background: #222;
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 2px 0px rgba(40, 25, 114, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-pricing__header-featured {
    border-bottom: 1px solid #888888;
    padding: 40px 7px;
}

.card-pricing__header-featured h4 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #f8f9fa;
}

.card-pricing__header-featured p {
    font-weight: 400;
    margin-bottom: 27px;
    color: #f0c33e;
}

.card-pricing__price-featured {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
    color: #f8f9fa;
}

@media (min-width: 991px) {
    .card-pricing__price-featured {
        font-size: 60px
    }
}

.card-pricing__price-featured span {
    font-size: 40px;
    vertical-align: middle;
    position: relative;
    bottom: 5px;
    margin-right: 3px
}

.card-pricing__list-featured {
    padding: 30px 8px 25px 8px;
    border-bottom: 1px solid #888888
}

.card-pricing__list-featured li {
    margin-bottom: 12px;
    color: #f8f9fa;
}

.card-pricing__list-featured li:last-child {
    margin-bottom: 0
}

.card-pricing__list-featured li i, .card-pricing__list-featured li span {
    font-size: 13px;
    margin-right: 10px
}

.card-pricing-featured .button {
    background: transparent;
    border: 1px solid #dbd9e6;
    color: #f8f9fa
}

.card-pricing__footer-featured {
    padding: 45px 0
}

.card-pricing-featured:hover {
    background: white;
    box-shadow: 0px 20px 25.5px 4.5px rgba(33, 20, 106, 0.1)
}

.card-pricing-featured:hover .card-pricing__price-featured {
    color: #222222
}

.card-pricing-featured:hover .card-pricing__header-featured h4, .card-pricing-featured:hover p {
    color: #222222
}

.card-pricing-featured:hover .card-pricing__list-featured li {
    color: #222222;
}

.card-pricing-featured:hover .button {
    color: #454545;
    box-shadow: 0px 10px 20px 0px rgba(42, 38, 172, 0.1)
}

/* Subscribe */

.form-subscribe {
    max-width: 610px;
    margin-right: auto;
    margin-left: auto
}

.form-subscribe .form-control {
    border: 0;
    border-radius: 0;
    font-size: 15px;
    height: 40px;
    padding: 0 0 8px 0;
    margin-right: 5px;
    background: transparent;
    color: #888888;
    border-bottom: 1px solid #dbd9e6
}

@media (min-width: 600px) {
    .form-subscribe .form-control {
        margin-right: 40px
    }
}

.form-subscribe .form-control::placeholder {
    font-weight: 300;
    color: #888888
}

.form-subscribe .form-control:focus {
    outline: 0;
    box-shadow: none
}

input[type=submit] {
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
    border: 0;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    padding: 9px 30px;
    box-shadow: 0px 10px 20px 0px rgba(42, 38, 172, 0.2)
}

/* Profile Video */

.video-section {
    padding: 75px;
}

/* Footer */

.footer-area {
    padding: 50px 0 0 0;
    background: #f8f9fa;
}

.footer-area .footer-widget p {
    color: #454545;
    line-height: 1.8em;
}

.footer-area .footer-widget h4 {
    font-weight: 700;
    color: #222222;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-area .footer-widget ul li {
    margin-bottom: 14px
}

.footer-area .footer-widget ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #888888;
}

.footer-area .footer-widget ul li a:hover {
    color: black;
}

.footer-area .footer-widget ul li a span {
    font-weight: 700;
    color: #fdd551;
}

.offset-20 {
    margin-top: -35px;
}

.footer-social a {
    color: #454545;
    display: inline-grid;
}

.footer-social a:hover {
    color: #fdd551;
}

.footer-social a I {
    font-size: 30px;
    margin-right: 3px;
}

.footer-area .copyright {
    border-top: 1px solid #aaaaaa;
    margin-top: 40px;
    padding: 20px 0;
}

.footer-area .copyright p {
    font-weight: 400;
    color: #888888;
    font-size: 14px;
}